//global
*::after,*::before,*{
    padding: 0;
    margin: 0;

}
h2{
    color: #333;
}
body{
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
 
}
a{
    cursor: pointer;
}
//
//scroll bar

/* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
   
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#9c7d5d;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
//end scroll bar 
//end global
//navbar

    .navbarContainer{
        background-color: #444;
        padding: 15px 0 15px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .branding{
            .brand{
                font-size: 2.7rem;
                color: #ddd;
            }

        }
        .navbarLink-container{
            .navbar{
                .checkbtn{
                    font-size: 30px;
                    color: #fff;
                    float: right;
                    line-height: 80px;
                    margin-right: 40px;
                    cursor: pointer;
                    display: none;
                }
                #check{
                    display: none;
            }
                .navBar-elements-container{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    
                    
                    
                    .element{
                        list-style: none;
                        margin-right: 40px;
                        a{
                            text-decoration: none;
                            color: #ddd;
                            padding: 10px 5px;
                            &:hover{
                                border-bottom: 2px solid #fff;
                                transition: .2s;
                            }
                        }
                    }
                }
            }
        }
    }

//end navbar
//homepage
.homePage-container{
    p{
        color: #555;
    }
    background-color: #555;
    display: grid;
    justify-content: center;
    height: 90vh;
    text-align: center;
    width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/shaking\ hands-min.jpg');
  background-size: cover;
    .marginDiv{
        margin-top: 25vh;
    .homePage-content{
        color: #fff;
        margin: 0 auto;
        width: 80%;
        
        .mainHome-title{
            font-size: 3rem;
            margin-bottom:40px;
        }
        .headerMeaning-quote{
            font-size: 1.3rem;
            font-weight: 100;
            
        }
    }
}
}
//end homepage

//section03-mainpage-section03
.section03-mainpage-section03{
    .fontAnd-discriptions-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 50px;
        margin: 0 auto;
        width: 90%;
        .fontAnd-discriptions{
            text-align: center;
            
            .fontAnd-description-img{
                height: 80px;
                margin-top: 80px;
            }
            .fontAnd-description-header{
                font-size: 25px;
                margin: 25px 0 25px 0;
            }
            .fontAnd-description-paragrapht{
                font-size: 15px;
                margin-bottom: 100px;
            }
        }
    }

    //section03 div 2
.imageAnd-paragraph-section03{
    display: grid;
    margin: 0 auto;
    width: 80%;
    .imageAndparagraph-pair{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       
       grid-template-areas:
    "a b b b b"
    "c c c c d";
        margin-top: 100px ;
        justify-items: center;
       
        /*img samething just different classes to set them apart*/
        .section03div2-img{
            height: 300px;
            width: auto;
        }
        .section03div2-img1{
            grid-area: a;
            align-self: center;

        }
        .section03div2-img2{
            grid-area: d;
            align-self: center;
            
        }
                /*img samething just different classes to set them apart End*/

        /*container samething just different classes to set them apart End*/
        .section3Header-and-paragraph1{
            grid-area: b;
            align-self: center;

           
        }       
        .section3Header-and-paragraph2{
            grid-area: c;
            align-self: center;
        }       
        .section3Header-and-paragraph{      
            .section03Header-and-paragraph-header{
                margin-bottom: 20px;
                font-size: 25px;    
            }
            .section03Header-and-paragraph-paragraph{ 
            }
        }
        /* container samething just different classes to set them apart End*/

    }
    }
    //section03 div 2END
    p{
        color:#555;
    }
}
//section03-mainpage-section03END

//section 5 

.createSomething-section{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/businessmen-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: center;
    color: #fff;
    .just-container-for-create-something{
        margin: 0 auto;
        width: 80%;
        padding-top: 100px;
    .headerAnd-paragraph-create-something{
        margin-bottom: 40px ;
        text-align: left;
        h1{
            font-size: 30px;
        }
        p{
            font-size: 15px;
        }
    }
    .contactuslink-createsomething{
       
        a{
            text-decoration: none;
            border: 2px solid;
            color: #fff;
            border-color: #fff;
            padding: 8px 18px;
            border-radius: 8px;
        }
    }
    }
}
//section 5 END

//SECTION06 START
.section06-testimonial-and-plan-section{
    margin: 100px 0 40px 0;
    
    .ContainerFor-icons-section06-and-summary{
        margin: 0 auto;
        width: 90%;
    .icons-section06-and-summary{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 100px;
        .iconsSection05-and-its-title{
            display: grid;
            grid-template-columns: 1fr 1fr;
            
            .icon-and-title-sec06{
                .icong-and-title-sec06-img{
                    height: 100px;
                    width: auto;
                    margin-bottom: 40px;
                }
                .icon-and-title-sec06-title{
                    font-weight:900;
                    color:  #9c7d5d;
                }
            }

        }
        .summaryFor-summarysection-06{

        }
    }
    .testimonials-section06{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 70px;
        margin-bottom: 50px;
        .imageAnd-text-section06{
            h2{
                margin-bottom: 40px;
            }
            .quotationmarks-sec06{
                width: 60px;
                transform: rotate(180deg);
                opacity: .5;
            }
        }
        
        .textOver-sec06-quotations{
            font-size: 15px;
            position: relative;
            bottom: 25px;
            left: 10px;
        }  
    }
    .twotestimonial-image-and-info{
        display: grid;
            grid-template-columns: 1fr 1fr;
        .doe-testimonials{
            display: flex;
            flex-direction: row;
            .doereview-img{
                       
                margin-right: 20px;
            }
            .doereview-img1{
                background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/female\ headshot-min.jpg");
                height: 100px;
                overflow: hidden;
                border-radius: 50%;
                width: 100px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                
            }
            .doereview-img2{
                background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/male\ headshot-min.jpg");
                height:100px;
                overflow: hidden;
                border-radius: 50%;
                width: 100px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

            }
            .doePosition-and-name{
                h2{

                }
                p{

                }
            }
        }

    }
}
p{
    color: #555;
}

}
//SECTION06 END
//section04 --mixed up sections this is last sections
.section04-container{
    
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/climbing\ stairs-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    background-position: center;
    color: #fff;
    justify-content: center;
    .headerAnd-contact-butttons{
        .headerAnd-paragraph-sections04{
            padding-top: 320px;
            h1{
                font-size: 32px;
            }

        }
    }
    .contact-button{
        margin-top: 30px;
        a{
             background-color: transparent;
              padding: 8px 18px;
              color: #fff;
              text-decoration: none;
              border: 2px solid;
              border-radius: 8px;
              font-size: 18px;
              
        }
    }
}
//section04 END 

//footer start

.ourbrand{
    padding:80px 0;
    background-color: #555;
    .ourbrand-container{
       
        text-align: center;
        .socialmedia-links{
            padding-bottom: 30px;
            a{
                text-decoration: none;
                color: #888;
                font-size: 22px;
                .fa{
                    margin-right: 20px;
                }
            }
        }
        .rightsreserved{
            color: #888;
            h1{
                font-size: 15px;
            }
            p{
                font-size: 15px;
            }
        }
    }
}
//footer end
//media queries

//
@media (max-width: 1280px){
    .imageAnd-paragraph-section03{
        display: grid !important ;
        grid-template-columns: 1fr !important;
        text-align: center !important;
}
.imageAndparagraph-pair{
    display: flex !important;
    flex-direction: column !important;
    
}
.section03Header-and-paragraph-header{
    margin-top: 50px;
}
.section3Header-and-paragraph2{
    margin-bottom: 80px;
}
.fontAnd-discriptions-container{
    grid-template-columns: 1fr 1fr !important;
}
}
//1280 end
//start 920
@media(max-width:920px){
    .fontAnd-discriptions-container{
        grid-template-columns: 1fr !important;
    }
}
//end 920

//start 540
@media (max-width:540px){
    .section03div2-img{
        height: 250px !important;
        width: auto !important;
    }
    .section03-mainpage-section03{
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .section03Header-and-paragraph-paragraph{
        font-size: 14px;
    }
    
    .icons-section06-and-summary{
        display: grid !important;
        grid-template-columns: 1fr !important;
    }
    .testimonials-section06{
        display: grid !important;
        grid-template-columns: 1fr !important;
    }
    .doe-testimonials{
        display: none !important;
    }
}
@media(max-width:460px){
    .section03div2-img{
        height: 150px !important;
        width: auto !important;
    }
}
//start 540 end

@media (max-width:700px) {
    .navbarLink-container {
        
    }
    .checkbtn{
        display: block !important;
    }
    .navBar-elements-container{
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        text-align: center !important;
        display: block !important;
        /*
        flex-direction: column !important;
        justify-content:space-between;*/
        transition: all .5s;
        
        li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
            a{
                font-size: 20px;
                a:hover,a.active{
                    background: none;
                    color: 0082e6;
                }
            }
            
        }
    }
    #check:checked ~ ul{
        left: 0;
    }
    .mainHome-title{
        font-size: 38px !important;
        
    }
    .headerMeaning-quote{
        font-size: 15px !important;
    }
}
//end media queries