*::after, *::before, * {
  padding: 0;
  margin: 0;
}

h2 {
  color: #333;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9c7d5d;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navbarContainer {
  background-color: #444;
  padding: 15px 0 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navbarContainer .branding .brand {
  font-size: 2.7rem;
  color: #ddd;
}
.navbarContainer .navbarLink-container .navbar .checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.navbarContainer .navbarLink-container .navbar #check {
  display: none;
}
.navbarContainer .navbarLink-container .navbar .navBar-elements-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbarContainer .navbarLink-container .navbar .navBar-elements-container .element {
  list-style: none;
  margin-right: 40px;
}
.navbarContainer .navbarLink-container .navbar .navBar-elements-container .element a {
  text-decoration: none;
  color: #ddd;
  padding: 10px 5px;
}
.navbarContainer .navbarLink-container .navbar .navBar-elements-container .element a:hover {
  border-bottom: 2px solid #fff;
  transition: 0.2s;
}

.homePage-container {
  background-color: #555;
  display: grid;
  justify-content: center;
  height: 90vh;
  text-align: center;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/shaking hands-min.jpg");
  background-size: cover;
}
.homePage-container p {
  color: #555;
}
.homePage-container .marginDiv {
  margin-top: 25vh;
}
.homePage-container .marginDiv .homePage-content {
  color: #fff;
  margin: 0 auto;
  width: 80%;
}
.homePage-container .marginDiv .homePage-content .mainHome-title {
  font-size: 3rem;
  margin-bottom: 40px;
}
.homePage-container .marginDiv .homePage-content .headerMeaning-quote {
  font-size: 1.3rem;
  font-weight: 100;
}

.section03-mainpage-section03 .fontAnd-discriptions-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  margin: 0 auto;
  width: 90%;
}
.section03-mainpage-section03 .fontAnd-discriptions-container .fontAnd-discriptions {
  text-align: center;
}
.section03-mainpage-section03 .fontAnd-discriptions-container .fontAnd-discriptions .fontAnd-description-img {
  height: 80px;
  margin-top: 80px;
}
.section03-mainpage-section03 .fontAnd-discriptions-container .fontAnd-discriptions .fontAnd-description-header {
  font-size: 25px;
  margin: 25px 0 25px 0;
}
.section03-mainpage-section03 .fontAnd-discriptions-container .fontAnd-discriptions .fontAnd-description-paragrapht {
  font-size: 15px;
  margin-bottom: 100px;
}
.section03-mainpage-section03 .imageAnd-paragraph-section03 {
  display: grid;
  margin: 0 auto;
  width: 80%;
}
.section03-mainpage-section03 .imageAnd-paragraph-section03 .imageAndparagraph-pair {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "a b b b b" "c c c c d";
  margin-top: 100px;
  justify-items: center;
  /*img samething just different classes to set them apart*/
  /*img samething just different classes to set them apart End*/
  /*container samething just different classes to set them apart End*/
  /* container samething just different classes to set them apart End*/
}
.section03-mainpage-section03 .imageAnd-paragraph-section03 .imageAndparagraph-pair .section03div2-img {
  height: 300px;
  width: auto;
}
.section03-mainpage-section03 .imageAnd-paragraph-section03 .imageAndparagraph-pair .section03div2-img1 {
  grid-area: a;
  align-self: center;
}
.section03-mainpage-section03 .imageAnd-paragraph-section03 .imageAndparagraph-pair .section03div2-img2 {
  grid-area: d;
  align-self: center;
}
.section03-mainpage-section03 .imageAnd-paragraph-section03 .imageAndparagraph-pair .section3Header-and-paragraph1 {
  grid-area: b;
  align-self: center;
}
.section03-mainpage-section03 .imageAnd-paragraph-section03 .imageAndparagraph-pair .section3Header-and-paragraph2 {
  grid-area: c;
  align-self: center;
}
.section03-mainpage-section03 .imageAnd-paragraph-section03 .imageAndparagraph-pair .section3Header-and-paragraph .section03Header-and-paragraph-header {
  margin-bottom: 20px;
  font-size: 25px;
}
.section03-mainpage-section03 p {
  color: #555;
}

.createSomething-section {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/businessmen-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  background-position: center;
  color: #fff;
}
.createSomething-section .just-container-for-create-something {
  margin: 0 auto;
  width: 80%;
  padding-top: 100px;
}
.createSomething-section .just-container-for-create-something .headerAnd-paragraph-create-something {
  margin-bottom: 40px;
  text-align: left;
}
.createSomething-section .just-container-for-create-something .headerAnd-paragraph-create-something h1 {
  font-size: 30px;
}
.createSomething-section .just-container-for-create-something .headerAnd-paragraph-create-something p {
  font-size: 15px;
}
.createSomething-section .just-container-for-create-something .contactuslink-createsomething a {
  text-decoration: none;
  border: 2px solid;
  color: #fff;
  border-color: #fff;
  padding: 8px 18px;
  border-radius: 8px;
}

.section06-testimonial-and-plan-section {
  margin: 100px 0 40px 0;
}
.section06-testimonial-and-plan-section .ContainerFor-icons-section06-and-summary {
  margin: 0 auto;
  width: 90%;
}
.section06-testimonial-and-plan-section .ContainerFor-icons-section06-and-summary .icons-section06-and-summary {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
}
.section06-testimonial-and-plan-section .ContainerFor-icons-section06-and-summary .icons-section06-and-summary .iconsSection05-and-its-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section06-testimonial-and-plan-section .ContainerFor-icons-section06-and-summary .icons-section06-and-summary .iconsSection05-and-its-title .icon-and-title-sec06 .icong-and-title-sec06-img {
  height: 100px;
  width: auto;
  margin-bottom: 40px;
}
.section06-testimonial-and-plan-section .ContainerFor-icons-section06-and-summary .icons-section06-and-summary .iconsSection05-and-its-title .icon-and-title-sec06 .icon-and-title-sec06-title {
  font-weight: 900;
  color: #9c7d5d;
}
.section06-testimonial-and-plan-section .ContainerFor-icons-section06-and-summary .testimonials-section06 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
  margin-bottom: 50px;
}
.section06-testimonial-and-plan-section .ContainerFor-icons-section06-and-summary .testimonials-section06 .imageAnd-text-section06 h2 {
  margin-bottom: 40px;
}
.section06-testimonial-and-plan-section .ContainerFor-icons-section06-and-summary .testimonials-section06 .imageAnd-text-section06 .quotationmarks-sec06 {
  width: 60px;
  transform: rotate(180deg);
  opacity: 0.5;
}
.section06-testimonial-and-plan-section .ContainerFor-icons-section06-and-summary .testimonials-section06 .textOver-sec06-quotations {
  font-size: 15px;
  position: relative;
  bottom: 25px;
  left: 10px;
}
.section06-testimonial-and-plan-section .ContainerFor-icons-section06-and-summary .twotestimonial-image-and-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section06-testimonial-and-plan-section .ContainerFor-icons-section06-and-summary .twotestimonial-image-and-info .doe-testimonials {
  display: flex;
  flex-direction: row;
}
.section06-testimonial-and-plan-section .ContainerFor-icons-section06-and-summary .twotestimonial-image-and-info .doe-testimonials .doereview-img {
  margin-right: 20px;
}
.section06-testimonial-and-plan-section .ContainerFor-icons-section06-and-summary .twotestimonial-image-and-info .doe-testimonials .doereview-img1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/female headshot-min.jpg");
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section06-testimonial-and-plan-section .ContainerFor-icons-section06-and-summary .twotestimonial-image-and-info .doe-testimonials .doereview-img2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/male headshot-min.jpg");
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section06-testimonial-and-plan-section p {
  color: #555;
}

.section04-container {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/climbing stairs-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  background-position: center;
  color: #fff;
  justify-content: center;
}
.section04-container .headerAnd-contact-butttons .headerAnd-paragraph-sections04 {
  padding-top: 320px;
}
.section04-container .headerAnd-contact-butttons .headerAnd-paragraph-sections04 h1 {
  font-size: 32px;
}
.section04-container .contact-button {
  margin-top: 30px;
}
.section04-container .contact-button a {
  background-color: transparent;
  padding: 8px 18px;
  color: #fff;
  text-decoration: none;
  border: 2px solid;
  border-radius: 8px;
  font-size: 18px;
}

.ourbrand {
  padding: 80px 0;
  background-color: #555;
}
.ourbrand .ourbrand-container {
  text-align: center;
}
.ourbrand .ourbrand-container .socialmedia-links {
  padding-bottom: 30px;
}
.ourbrand .ourbrand-container .socialmedia-links a {
  text-decoration: none;
  color: #888;
  font-size: 22px;
}
.ourbrand .ourbrand-container .socialmedia-links a .fa {
  margin-right: 20px;
}
.ourbrand .ourbrand-container .rightsreserved {
  color: #888;
}
.ourbrand .ourbrand-container .rightsreserved h1 {
  font-size: 15px;
}
.ourbrand .ourbrand-container .rightsreserved p {
  font-size: 15px;
}

@media (max-width: 1280px) {
  .imageAnd-paragraph-section03 {
    display: grid !important;
    grid-template-columns: 1fr !important;
    text-align: center !important;
  }
  .imageAndparagraph-pair {
    display: flex !important;
    flex-direction: column !important;
  }
  .section03Header-and-paragraph-header {
    margin-top: 50px;
  }
  .section3Header-and-paragraph2 {
    margin-bottom: 80px;
  }
  .fontAnd-discriptions-container {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media (max-width: 920px) {
  .fontAnd-discriptions-container {
    grid-template-columns: 1fr !important;
  }
}
@media (max-width: 540px) {
  .section03div2-img {
    height: 250px !important;
    width: auto !important;
  }
  .section03-mainpage-section03 {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .section03Header-and-paragraph-paragraph {
    font-size: 14px;
  }
  .icons-section06-and-summary {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
  .testimonials-section06 {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
  .doe-testimonials {
    display: none !important;
  }
}
@media (max-width: 460px) {
  .section03div2-img {
    height: 150px !important;
    width: auto !important;
  }
}
@media (max-width: 700px) {
  .checkbtn {
    display: block !important;
  }
  .navBar-elements-container {
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    text-align: center !important;
    display: block !important;
    /*
    flex-direction: column !important;
    justify-content:space-between;*/
    transition: all 0.5s;
  }
  .navBar-elements-container li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .navBar-elements-container li a {
    font-size: 20px;
  }
  .navBar-elements-container li a a:hover, .navBar-elements-container li a a.active {
    background: none;
    color: 82000000;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .mainHome-title {
    font-size: 38px !important;
  }
  .headerMeaning-quote {
    font-size: 15px !important;
  }
}/*# sourceMappingURL=style.css.map */