//global
*::after,*::before,*{
    padding: 0;
    margin: 0;

}
body{
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}
//end global
//navbar

    .navbarContainer{
        background-color: #555;
        padding: 15px 0 15px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .branding{
            .brand{
                font-size: 2.7rem;
                color: #ddd;
            }

        }
        .navbarLink-container{
            .navbar{
                .checkbtn{
                    font-size: 30px;
                    color: #fff;
                    float: right;
                    line-height: 80px;
                    margin-right: 40px;
                    cursor: pointer;
                    display: none;
                }
                #check{
                    display: none;
            }
                .navBar-elements-container{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    
                    
                    
                    .element{
                        list-style: none;
                        margin-right: 40px;
                        a{
                            text-decoration: none;
                            color: #ddd;
                        }
                    }
                }
            }
        }
    }

//end navbar
//homepage
.homePage-container{
    background-color: #555;
    display: grid;
    justify-content: center;
    height: 90vh;
    text-align: center;
    width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/shaking\ hands-min.jpg');
  background-size: cover;
    .marginDiv{
        margin-top: 25vh;
    .homePage-content{
        color: #fff;
        margin: 0 auto;
        width: 80%;
        
        .mainHome-title{
            font-size: 3rem;
            margin-bottom:40px;
        }
        .headerMeaning-quote{
            font-size: 1.3rem;
            font-weight: 100;
            
        }
    }
}
}
//end homepage

//section03-mainpage-section03
.section03-mainpage-section03{
    .fontAnd-discriptions-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 50px;
        margin: 0 auto;
        width: 90%;
        .fontAnd-discriptions{
            text-align: center;
            
            .fontAnd-description-img{
                height: 80px;
                margin-top: 80px;
            }
            .fontAnd-description-header{
                font-size: 25px;
                margin: 25px 0 25px 0;
            }
            .fontAnd-description-paragrapht{
                font-size: 15px;
                margin-bottom: 100px;
            }
        }
    }

    //section03 div 2
.imageAnd-paragraph-section03{
    display: grid;
    margin: 0 auto;
    width: 80%;
    .imageAndparagraph-pair{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       
       grid-template-areas:
    "a b b b b"
    "c c c c d";
        margin-top: 100px ;
        justify-items: center;
       
        /*img samething just different classes to set them apart*/
        .section03div2-img{
            height: 300px;
            width: auto;
        }
        .section03div2-img1{
            grid-area: a;
            align-self: center;

        }
        .section03div2-img2{
            grid-area: d;
            align-self: center;
            
        }
                /*img samething just different classes to set them apart End*/

        /*container samething just different classes to set them apart End*/
        .section3Header-and-paragraph1{
            grid-area: b;
            align-self: center;

           
        }       
        .section3Header-and-paragraph2{
            grid-area: c;
            align-self: center;
        }       
        .section3Header-and-paragraph{      
            .section03Header-and-paragraph-header{
                margin-bottom: 20px;
                font-size: 25px;    
            }
            .section03Header-and-paragraph-paragraph{ 
            }
        }
        /* container samething just different classes to set them apart End*/

    }
    }
    //section03 div 2END
}
//section03-mainpage-section03END

//media queries

@media (max-width:700px) {
    .navbarLink-container {
        
    }
    .checkbtn{
        display: block !important;
    }
    .navBar-elements-container{
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        text-align: center !important;
        display: block !important;
        /*
        flex-direction: column !important;
        justify-content:space-between;*/
        transition: all .5s;
        
        li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
            a{
                font-size: 20px;
                a:hover,a.active{
                    background: none;
                    color: 0082e6;
                }
            }
            
        }
    }
    #check:checked ~ ul{
        left: 0;
    }
    .mainHome-title{
        font-size: 38px !important;
        
    }
    .headerMeaning-quote{
        font-size: 15px !important;
    }
}
//end media queries